/* Admin styles
 * This file should override the main css file
 * */

/* Header */
#header, #admin_header {
    margin: 0;
    width: 100%;
    background-color: #E4E4E4;
    padding: 10px;
    font-size: 13px;
}

#header a {
    color: gray;
}

#admin_header a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-variant: small-caps;
    text-transform: none;
    font-style: none;
}

#admin_header {
    padding-top: 10px;
    padding-bottom: 10px;
}


#object_list {
    width: 100%;
}

#object_list {
    border-collapse: collapse;
}

#object_list form p {
    margin: 0;
    display: inline;
}

#object_list td {
    margin-left: 10px;
}

#object_list tr {
    border-bottom: 1px solid black;
}

.delete input {
    border: 1px solid red;
}

.delete {
    width: 20px;
    margin: 0;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.edit {
    text-decoration: none;
    padding: 1px;
    display: inline-block;
}

.stat a {
    color: brown;
    text-decoration: none;
}

.top_events  {
    width: 100%;
}
.top_events th {
    text-align: left;
}
