/* Admin styles
 * This file should override the main css file
 * */

/* Header */
#header, #admin_header {
    margin: 0;
    width: 100%;
    background-color: #E4E4E4;
    padding: 10px;
    font-size: 13px;
}

#header a {
    color: gray;
}

#admin_header a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-variant: small-caps;
    text-transform: none;
    font-style: none;
}

#admin_header {
    padding-top: 10px;
    padding-bottom: 10px;
}


